[submodule "Sublime Text/User/Color Scheme - Legacy"]
	path = Sublime Text/User/Color Scheme - Legacy
	url = https://github.com/SublimeText/LegacyColorSchemes.git
[submodule "Sublime Text/User/Color Scheme - Solarized"]
	path = Sublime Text/User/Color Scheme - Solarized
	url = https://github.com/braver/Solarized.git
