"*":
  core:
    telemetryConsent: "limited"
    uriHandlerRegistration: "never"
  editor:
    fontSize: 15
    invisibles:
      cr: " "
      eol: " "
    showInvisibles: true
  "exception-reporting":
    userId: "6f4e95fc-ebd1-4a3a-89ba-0c46ab44a387"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
